<!--<div [innerHTML]="htmlStr"></div>-->
<!--<iframe id="iframe" [src]="src"></iframe>-->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Julia und Raphael heiraten!</title>

  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700&display=swap" rel="stylesheet">

  <style>
    * {
      box-sizing: border-box;
    }

    #my {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      overflow: hidden;
    }

    .iframe {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    #my2 {
      position: relative;
      height: 400px;
      width: 100%;
      overflow: hidden;
    }

    @media only screen and (min-width: 1024px) {
      #my2 {
        height: 500px;
      }
    }
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="margin: 0;">

  <div class="loader"></div>
  <div>

    <!-- Header -->
    <section id="header" class="section-gray cover" data-parallax="scroll" style="overflow: hidden">
      <div id="my">
        <iframe class="iframe" style="min-width: 100%" src="/assets/weddingfinal.html" frameborder="0"
          allowfullscreen></iframe>
      </div>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgba(255,255,255,0.6)">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#couple">Wir Heiraten</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#infos">Informationen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hotel">Hotel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#address">Adressen</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="display-t">
              <div class="display-tc animated">
                <h1 class="site">Save the Date</h1>
                <div class="banner-text">
                  <span class="banner-text_city">WIESLOCH</span>
                  <span class="banner-text_names">Julia &amp; Raphael</span>
                  <span class="banner-text_date">12.09.2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Section About-us -->
    <section id="couple" class="section couple">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <h2 class="site">Liebe Gäste</h2>
            <p style="font-size: 22px">Wir heiraten!</p>
            <p>Diesen besonderen Tag m&ouml;chten wir gerne gemeinsam mit Euch verbringen.</p>
            <p>Die kirchliche Trauung findet am 12. September 2020 um 14 Uhr in der Stadtkirche Wiesloch statt.
              Anschließend wollen wir mit Euch im Restaurant Wolfsbrunnen in Heidelberg feiern.</p>
            <p>Unsere Freude ist erst vollkommen, wenn ihr an diesem besonderen Tag bei uns seid. Wir hoffen auf Eure
              Zusage bis zum 31.05.2020.</p>
          </div>
        </div>
        <div class="row couple-wrap">
          <div class="groom-wrap col-md-6 clearfix">
            <div class="groom">
              <img src="/assets/julia2.jpg" alt="groom" class="img-responsive">
            </div>
            <div class="desc-groom">
              <h3 class="site">Julia</h3>
            </div>
          </div>
          <p class="heart text-center"><i class="icon-heart2"></i></p>
          <div class="bride-wrap col-md-6">
            <div class="bride">
              <img src="/assets/raphael.jpg" alt="groom" class="img-responsive">
            </div>
            <div class="desc-bride">
              <h3 class="site">Raphael</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Countdown -->
    <section class="countdown bg section text-center section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading countdown">
            <span>Nur noch wenige Tage bis zur Hochzeit</span>
            <h2 class="site">Der gro&szlig;e Tag</h2>
            <p style="font-size: 22px; margin-bottom: 1em; border: 1px dotted">12. September 2020</p>
            <div class="timer" style="margin: auto; font-size: 22px;">
              <div class="row" style="margin: auto">
                <div class="col-md">
                  <div id="days" class="smalltext days digit"></div>
                  <div class="smalltext">Tage</div>
                </div>
                <div class="col-md">
                  <div id="hours" class="smalltext hours digit"></div>
                  <div class="smalltext">Stunden</div>
                </div>
                <div class="col-md">
                  <div id="minutes" class="smalltext minutes digit"></div>
                  <div class="smalltext">Minuten</div>
                </div>
                <div class="col-md">
                  <div id="seconds" class="smalltext seconds digit"></div>
                  <div class="smalltext">Sekunden</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Section Events -->
    <section id="infos" class="events-accordion section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <span>Unsere Feier</span>
            <h2 class="site">Informationen</h2>
            <p>Im Folgenden findet ihr Informationen zum Ablauf unserer Hochzeit. Bei Fragen könnt ihr Euch jeder Zeit bei uns melden.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel-group" id="accordion-img">
              <div class="panel panel-default">
                <div id="collapse10" class="panel-collapse show collapse multi-collapse10 in">
                  <img src="assets/event1.jpg" alt="">
                </div>
              </div>
              <div class="panel panel-default">
                <div id="collapse20" class="panel-collapse collapse multi-collapse20">
                  <img src="assets/event2.jpg" alt="">
                </div>
              </div>
              <div class="panel panel-default">
                <div id="collapse30" class="panel-collapse collapse multi-collapse30">
                  <img src="assets/event3.jpg" alt="">
                </div>
              </div>
              <div class="panel panel-default">
                <div id="collapse40" class="panel-collapse collapse multi-collapse40">
                  <img src="assets/event4.jpg" alt="">
                </div>
              </div>
              <div class="panel panel-default">
                <div id="collapse50" class="panel-collapse collapse multi-collapse50">
                  <img src="assets/event5.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>12 September 2020, Wiesloch + Heidelberg</h3>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title site">
                    <a aria-expanded="false" (click)="collapse(1)">
                      Kirchliche Trauung (14:00)</a>
                  </h4>
                </div>
                <div id="collapse1" class="collapse show">
                  <div class="panel-place">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="location">Stadtkirche Wiesloch<br />Marktstra&szlig;e 17, 69168 Wiesloch</span>
                  </div>
                  <div class="panel-body">
                    Die kirchliche Trauung findet in der Evanglischen Stadtkirche in Wiesloch statt. Entlang der Bergstraße lässt es sich gut parken. Weiterhin lassen die Tiefgaragen "Rathaus Tiefgarage P2" und "Adenauer Tiefgarage" empfehlen.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title site">
                    <a (click)="collapse(2)">
                      Sektempfang an der Kirche</a>
                  </h4>
                </div>
                <div id="collapse2" class="collapse">
                  <div class="panel-place ">
                    <i class="fa fa-map-marker " aria-hidden="true"></i>
                    <span class="location">Stadtkirche Wiesloch<br />Marktstra&szlig;e 17, 69168 Wiesloch</span>
                  </div>
                  <div class="panel-body">Nach der Trauung gibt es Grund zum Anstoßen! Der Sektempfang findet vor der
                    Kirche statt.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title site">
                    <a (click)="collapse(3)">
                      Anreise zur Location</a>
                  </h4>
                </div>
                <div id="collapse3" class="collapse">
                  <div class="panel-place">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="location">Restaurant Wolfsbrunnnen<br />Wolfsbrunnensteige 15, 69118 Heidelberg</span>
                  </div>
                  <div class="panel-body">Zur Feier laden wir Euch gerne in das Restaurant Wolfsbrunnen in Heidelberg
                    Schlierbach ein. Unterhalb des Schlosses Heidelberg lies Kurfürst Friedrich II. um das Jahr 1550 ein
                    Jagdhaus mit Brunnen und Wasserspielen errichten. Hier werden wir den restlichen Tag verbringen.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title site">
                    <a (click)="collapse(4)">
                      Dinner</a>
                  </h4>
                </div>
                <div id="collapse4" class="collapse">
                  <div class="panel-place">
                    <i class="fa fa-map-marker"></i>
                    <span class="location">Restaurant Wolfsbrunnnen<br />Wolfsbrunnensteige 15, 69118 Heidelberg</span>
                  </div>
                  <div class="panel-body">Wir freuen uns auf das Hochzeitsessen mit Hochzeitswein von der Mosel, der 345
                    Tage vor der Hochzeit vom Hochzeitspaar geerntet wurde.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title site">
                    <a (click)="collapse(5)">
                      Party</a>
                  </h4>
                </div>
                <div id="collapse5" class="collapse">
                  <div class="panel-place">
                    <i class="fa fa-map-marker"></i>
                    <span class="location">Restaurant Wolfsbrunnnen<br />Wolfsbrunnensteige 15, 69118 Heidelberg</span>
                  </div>
                  <div class="panel-body">Für den DJ ist gesorgt. Wir freuen uns auf den gemeinsamen Hochzeitstanz.
                    Bringt viel gute Laune mit - Open End!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Our-story -->
    <section id="couple-story" class="section couple-story section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <span>Endlich Hochzeit</span>
            <h2 class="site">Unsere Geschichte</h2>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <ul class="timeline animate-box">

              <li class="timeline-item animate-box">
                <div class="timeline-badge">
                  <img src="/assets/golden.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title site">Kennenlernen</h3>
                    <span class="date">9. Juli 2011</span>
                  </div>
                  <div class="timeline-body">
                    <p>Los Angeles / San Francisco, USA</p>
                  </div>
                </div>
              </li>
              <li class="timeline-item animate-box">
                <div class="timeline-badge">
                  <img src="/assets/main.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title site">Beziehung</h3>
                    <span class="date">4. Februar 2012</span>
                  </div>
                  <div class="timeline-body">
                    <p>Frankfurt, Deutschland</p>
                  </div>
                </div>
              </li>
              <li class="timeline-item animate-box">
                <div class="timeline-badge">
                  <img src="/assets/trolltunga.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title site">Verlobung</h3>
                    <span class="date">5. August 2019</span>
                  </div>
                  <div class="timeline-body">
                    <p>Trolltunga, Norwegen</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section id="hotel" class="section couple-story section">
      <div class="container" style="text-align: center">
        <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()" class="form-signin">
          <div class="col text-center heading">
            <span>Reservierungsanfrage</span>
            <h2 class="site">Hotel</h2>
            <p>Wir haben das Parkhotel Atlantic (<a
                href="https://www.parkhotel-atlantic.de">www.parkhotel-atlantic.de</a>) auf das Kontingent "Hochzeit
              Schmitz" reserviert. Insgesamt stehen 24 Zimmer zur Verf&uuml;gung. Das Hotel ist mit nur knapp einen
              Kilometer entfernt und damit gut zu erreichen. <br /> <br />
              Falls ihr hier übernachten wollt, könnt ihr folgende Reservierungsanfrage absenden. Das Hotel wird das
              Zimmer schnellstm&ouml;glich r&uuml;ckbest&auml;tigen. Die Preise sind inklusive einem gemeinsamen Fr&uuml;hst&uuml;ck.</p>
          </div>
          <div class="col-sm-8" style="margin: auto;">
            <div class="form-row">
              <div class="form-group col-md" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputname" id="inputname"
                  placeholder="Vorname*" required [ngClass]="{ 'is-invalid': submitted && f.inputname.errors }">
              </div>
              <div class="form-group col-md" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputlastname" id="inputlastname"
                  placeholder="Nachname*" required [ngClass]="{ 'is-invalid': submitted && f.inputlastname.errors }">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-9" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputstreet" id="inputstreet"
                  placeholder="Strasse">
              </div>
              <div class="form-group col-md-3" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputhousenumber" id="inputhousenumber"
                  placeholder="Hausnummer">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputZip" id="inputZip"
                  placeholder="Postleitzahl">
              </div>
              <div class="form-group col-md-5" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputCity" id="inputCity" placeholder="Stadt">
              </div>
              <div class="form-group col-md-4" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputCountry" id="inputCountry"
                  placeholder="Land">
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md" style="padding:5px">
                <input type="email" class="form-control" formControlName="inputEmail" id="inputEmail"
                  placeholder="E-Mail*" required [ngClass]="{ 'is-invalid': submitted && f.inputEmail.errors}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md" style="padding:5px">
                <input type="email" class="form-control" formControlName="inputPhone" id="inputPhone"
                  placeholder="Telefon">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md" style="padding:5px">
                <input type="text" class="form-control" formControlName="inputDesc" id="inputDesc"
                  placeholder="Kommentare">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room0">Doppelzimmer Standard (104,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room0a" id="room0a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room1">Doppelzimmer Business (114,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room1a" id="room1a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room2">Doppelzimmer Deluxe (129,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room2a" id="room2a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room3">Appartement/Doppel (104,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room3a" id="room3a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room4">Appartement/Einzel (82,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room4a" id="room4a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room5">Einzelzimmer Standard (82,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room5a" id="room5a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room6">Einzelzimmer Business (92,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room6a" id="room6a" placeholder="Anzahl">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6" style="padding:5px;margin:auto">
                <label class="form-check-label" for="room7">Dreibettzimmer (146,00 &#8364;)</label>
              </div>
              <div class="form-group col-md-2" style="padding:5px; margin:auto">
                <input type="text" class="form-control" formControlName="room7a" id="room7a" placeholder="Anzahl">
              </div>
            </div>
            <button type="submit" class="btn btn-danger" style="margin-top:20px;">Anfragen</button>
          </div>
        </form>
        <div class="alert alert-success" id="emailsuccess" style="margin-top: 20px; display: none;" role="alert">
          Die Reservierungsanfrage wurde an das Parkhotel Atlantic versendet. Ihr erhaltet in wenigen Minuten eine Kopie
          an Eure E-Mail-Adresse.
        </div>

      </div>
    </section>


    <!-- Section Gallery -->
    <!--
                    <section id="gallery" class="section section-gray gallery">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center heading">
                                    <span>Our Memories</span>
                                    <h2>Wedding Gallery alboms</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="button-group filters-button-group">
                                        <button class="button is-checked" data-filter="*">All</button>
                                        <button class="button" data-filter=".moments">moments</button>
                                        <button class="button" data-filter=".friends">friends</button>
                                        <button class="button" data-filter=".banguet">banguet</button>
                                        <button class="button" data-filter=".family">family</button>
                                        <button class="button" data-filter=".party">party</button>
                                    </div>
                                    <div class="grid grid--margin">
                                        <div class="grid-sizer"></div>
                                        <div class="grid-item grid-item--width moments friends">
                                            <a href="img/gallery-1.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-1.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item moments banguet party">
                                            <a href="img/gallery-2.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-2.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item friends moments party">
                                            <a href="img/gallery-3.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-3.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item banguet family">
                                            <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-7.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item friends family">
                                            <a href="img/gallery-5.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-5.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item family party">
                                            <a href="img/gallery-10.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-10.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item moments family">
                                            <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-7.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item banguet family">
                                            <a href="img/gallery-8.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-8.jpg" alt="gallery">
                                            </a>
                                        </div>
                                        <div class="grid-item friends party">
                                            <a href="img/gallery-9.jpg" data-lightbox="roadtrip">
                                                <img src="img/gallery-9.jpg" alt="gallery">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="gallery-single.html" class="btn-primary btn-lg">View all</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Counter -->


    <!-- Section Testimonials -->
    <!--
                    <section id="testimonials" class="section testimonials">
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-center heading">
                                        <span>Best Wishes</span>
                                        <h2>Friends Wishes</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wrap-testimony">
                                            <div class="owl-carousel-fullwidth">
                                                <div class="item">
                                                    <div class="testimony-slide active text-center">
                                                        <figure>
                                                            <img src="img/friend-1.jpg" alt="user">
                                                        </figure>
                                                        <span>Andrew Brewer</span>
                                                        <blockquote>
                                                            <p>"With warm congratulations to a very special pair. May you always find in each other the love, laughter and happiness that only partners in life share!"</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="testimony-slide active text-center">
                                                        <figure>
                                                            <img src="img/friend-2.jpg" alt="user">
                                                        </figure>
                                                        <span>Theodore Hamilton</span>
                                                        <blockquote>
                                                            <p>"True love stories never end! Happy wedding day and may there be many more chapters in the wonderful story of your love for one another."</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="testimony-slide active text-center">
                                                        <figure>
                                                            <img src="img/friend-3.jpg" alt="user">
                                                        </figure>
                                                        <span>Maria J. Taylor</span>
                                                        <blockquote>
                                                            <p>"A wedding wish for two special person: love is best when shared by two. You know that together you are stronger, together you are one. Have a wonderful married life!"</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Section Video invitation -->
    <!--
                    <section id="invitation" class="section invitation section-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center heading">
                                    <h2>Video invitation</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-wrapper col-md-6">
                                    <form action="form.php" id="contact-form" class="form-horizontal" method="post">
                                        <h3 class="text-center">Will you be attending the wedding?</h3>
                                        <div class="row">
                                            <div class="form-field switch-field col-sm-12">
                                                <input type="radio" name="rdo" id="yes" value="Yes"/>
                                                <input type="radio" name="rdo" id="no" value="No"/>
                                                <div class="switch">
                                                    <label for="yes">Yes</label>
                                                    <label for="no">No</label>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="name-field" class="form-field col-sm-6">
                                                <label for="form-name" class="control-label">Your name*</label>
                                                <input type="text" class="form-control" id="form-name" name="form-name" required="">
                                            </div>
                                            <div id="email-field" class="form-field col-sm-6">
                                                <label for="form-email" class="control-label">Email*</label>
                                                <input type="email" class="form-control" id="form-email" name="form-email" required="">
                                            </div>
                                        </div>
                                        <h3 class="text-center">Who else is comming with you?</h3>
                                        <div class="row">
                                            <div id="guest-name-field" class="form-field col-sm-8">
                                                <label for="form-guest-name" class="control-label">Guest name</label>
                                                <input type="text" class="form-control" id="form-guest-name" name="form-name">
                                            </div>
                                            <div class="form-field col-sm-4 text-center">
                                                <button type="button" class="add-button">Add guest</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="guest-list form-field col-sm-12"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <button type="submit" class="btn-primary btn-lg send-button">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="video bg">
                                        <a href="https://www.youtube.com/watch?v=KPi8uXHRfYg" class="popup-youtube">
                                            <i class="fa fa-youtube-play fa-5x"></i>
                                        </a>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->

    <!-- Section banner-bottom -->
    <section class="bg section banner banner_bottom section-gray">
      <div class="container" style="margin-bottom: 15px">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <span>345 Tage vor der Hochzeit</span>
            <h2 class="site">Hochzeitswein geerntet</h2>
          </div>
        </div>
      </div>
      <div id="my2">
        <iframe class="iframe" src="/assets/erntefinal.html" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>


    <!-- Section Statistik -->
    <section id="counter" class="section bg counter section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <span>Eine tolle Zeit</span>
            <h2 class="site">Statistik</h2>
            <p></p>
          </div>
          <div class="animate-box feature-center">
            <div class="feature-center">
              <span class="icon">
                <i class="fa fa-calendar"></i>
              </span>
              <span class="counter-value js-counter dayssince" data-from="0" data-to=[to] data-speed="5000"
                data-refresh-interval="50">1</span>
              <span class="counter-label">Gemeinsame Tage Bisher</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section About-us -->
    <section id="address" class="section couple">
      <div class="container" style="margin: auto">
        <div class="row">
          <div class="col-md-12 text-center heading">
            <span>Der Weg zum Ziel</span>
            <h2 class="site">Adressen</h2>
            <p>Folgt einem der Links unterhalb der Karten, um die Routenplanung zu starten.</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <iframe width="300" height="300" id="gmap_canvas"
              src="https://maps.google.com/maps?q=Stadtkirche%20Wiesloch&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div style="margin-bottom: 20px;">
              <a target="_blank"
                href="https://www.google.com/maps?ll=49.294313,8.698545&z=13&t=m&hl=en-GB&gl=US&mapclient=embed&cid=16126230693319002485"><b>Kirche</b></a>
            </div>
          </div>
          <div class="col-md-4">
            <iframe width="300" height="300" id="gmap_canvas"
              src="https://maps.google.com/maps?q=Restaurant%20Wolfsbrunnen%20Heidelberg&t=&z=11&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div style="margin-bottom: 20px;">
              <a target="_blank"
                href="https://www.google.com/maps?ll=49.411603,8.745739&z=11&t=m&hl=en-GB&gl=US&mapclient=embed&cid=11092989683706600224"><b>Location</b></a>
            </div>
          </div>
          <div class="col-md-4">
            <iframe width="300" height="300" id="gmap_canvas"
              src="https://maps.google.com/maps?q=Hotel%20atlantic%20heidelberg&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <div style="margin-bottom: 20px;">
              <a target="_blank"
                href="https://www.google.com/maps?ll=49.41583,8.729459&z=13&t=m&hl=en-GB&gl=US&mapclient=embed&cid=13660745608184179829"><b>Hotel</b></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="section footer section section-gray">
      <div class="container">
        <div class="row copyright">
          <div class="col-md-12 text-center heading">
            <span>Weitere Informationen folgen</span>
            <h2 class="site">Wir freuen uns!</h2>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- countTo -->
</body>
</html>